/* element.style {
}
user agent stylesheet
link {
    display: none;
}
Inherited from html
styles.css:3
html {
    font-size: 18px;
    background-color: white;
}
reset.css:13
html {
    font-family: sans-serif;
    line-height: 1.15; */
